<!--<div ng-controller="resumeViewController">-->
<!--<img class="pure-img-responsive" src="img/common/background.jpg">-->
<!--<div class="splash">-->
    <!--<h1 class="splash-head" id="titleHeading">Developer.</h1>-->
    <!--<p class="splash-subhead">-->
    <!--</p>-->
    <!--<p>-->
        <!--<a href="#/resume" class="splash-head-1">Resume</a>-->
        <!--<a href="#/contact" class="splash-head-1">Contact</a>-->

    <!--</p>-->
<!--</div>-->
<!--</div>-->


<div class="container-fluid">
    <div class="container jumbotron">
        <div class="col-md-7 col-md-offset-2" >
            <div class="text-center"><h2>  <b>W</b>illkommen! </h2>
                <h4><em> Collection of all things I like </em></h4>
            </div>
        </div>
    </div>
</div>