<div  style="overflow: scroll;">
    <div class="splash-container content-table" style="overflow-y: scroll;">

        <div id="layout" class="pure-g">

            <div class="sidebar pure-u-1 pure-u-md-1-4">
                <div class="header">

                    <img class="circular" src="/img/common/website-pic.jpg"/>

                </div>
            </div>

            <div class="content pure-u-1 pure-u-md-3-4" ng-controller="resumeViewController" >
                <div >
                    <!-- A wrapper for all the blog posts -->
                    <div class="posts" >
                        <!--<h1 class="content-subhead">Pinned Post</h1>-->
                        <br>
                        <br>
                        <br>
                        <br>
                        <!-- A single blog post -->
                        <section class="post"  >
                            <header class="post-header">
                                <h1 class="post-title"> <img width="35" height="35" class="post-avatar" src="/img/icon/work.png">
                                    &nbsp;
                                    Work Experience </h1>
                            </header>

                            <header class="post-header">
                                <ul>
                                    <h4 class="post-title">
                                        Junior Data Analyst  @ EPL<br>
                                        <p class="dates">July 2016 - Feb 2017 <br>
                                            Toronto, Canada</p>
                                    </h4>
                                </ul>
                                <ul>
                                    <div class="post-description">
                                        <li>
                                            Worked on internal web tools to improve utility usage modeling for corporate portfolios using C# and SQL.
                                        </li>
                                        <li>
                                            Used Python to extract and transform data coming from meters placed in customer locations and loaded into the DB for modeling.
                                        </li>
                                        <li>
                                            Front end development for internal tools using C#, JS and angular.
                                        </li>
                                    </div>
                                </ul>
                            </header>
                            <hr>

                            <header class="post-header">
                                <ul>
                                    <h4 class="post-title">
                                        Research Assistant  @ Queen's University<br>
                                        <p class="dates">Sep 2014 - Jul 2016 <br>
                                            Kingston, Canada</p>
                                    </h4>

                                </ul>
                                <ul>
                                    <div class="post-description">
                                        <li>
                                            Found that developer metrics are the key factors in identifying the stability of logging statements by constructing random forest and cox models on several large open source projects.
                                        </li>
                                        <li>
                                            Conducted performance tests and found that updating logging libraries does not improve logging performance as previously believed.                                        </li>
                                        </li>
                                    </div>
                                </ul>
                            </header>
                            <hr>
                            <header class="post-header">
                                <ul>
                                    <h4 class="post-title">
                                        Application Developer  @ Volvo IT<br>
                                        <p class="dates">Aug 2013 - July 2014 <br>
                                            Bangalore, India</p>
                                    </h4>

                                </ul>
                                <ul>
                                    <div class="post-description">
                                        <li>
                                            Worked on a internal pricing system (IPS) for over 2.5 million parts belonging to UD, Mach and Volvo trucks using .NET, C#, WPF and SQL server for back-end with Hibernate mapping.
                                        </li>
                                        <li>
                                            Implemented currency exchange and user access control modules in the IPS for the Asia-Pacific market.                                        </li>
                                        </li>
                                    </div>
                                </ul>
                            </header>
                            <hr>
                            <header class="post-header">
                                <ul>
                                    <h4 class="post-title">
                                        Smart Farming (Internship) @ IBM <br>
                                        <p class="dates">Apr 2013 - Apr 2014 <br>
                                            Bangalore, India</p>
                                    </h4>

                                </ul>
                                <ul>
                                    <div class="post-description">
                                      <p style="font-weight: 600">  Area of research: Machine learning, data mining and web technologies. </p>


                                        <li>
                                            Built customizable web portal for farmers to monitor and track their produce.
                                        </li>
                                        <li>
                                            Helped farmers track their produce, price information through an on-line portal and implemented a single hidden layer neural network to decide the right time to sell the crops.                                        </li>

                                    </div>
                                </ul>
                            </header>





                        </section>

                        <br>
                        <br>
                        <section class="post">
                            <header class="post-header">
                                <h1 class="post-title"> <img width="35" height="35" class="post-avatar" src="/img/icon/edu.png">
                                    &nbsp;
                                    Education</h1>
                            </header>

                            <header class="post-header">
                                <ul>
                                    <h4 class="post-title">
                                        Master of Science, Queen's University<br>
                                        <p class="dates">
                                            Research in Log Managerment <br>
                                            Department of Computing <br>
                                            Supervisor: <a href="http://sail.cs.queensu.ca/"> Dr. Ahmed E. Hassan </a> <br>
                                            CGPA 3.8 / 4 <br>
                                            2014 - 2016 <br>
                                    </h4>
                                </ul>
                                <ul>
                                    <div class="post-description">
                                        <h5> Publications:</h5>
                                        <p style="font-weight: 600">
                                            <a href="http://ieeexplore.ieee.org/document/7476654/?reload=true">Examining the Stability of Logging Statements </a>
                                        </p>
                                        <ul>
                                            <li>
                                                Techniques Used: Random Forests, Cox Proponationality Hazard models, Spearman Rank Correlation, ROC, Residuals
                                            </li>
                                        </ul>
                                        <p style="font-weight: 600">
                                            <a href="http://dl.acm.org/citation.cfm?id=2901769">Logging Library Migrations: A Case Study for the Apache Software Foundation Projects.</a>
                                        </p>
                                        <ul>
                                            <li>
                                                Techniques Used: Performance benchmarking, NLP, Performance Analysis and Analysis Visualization
                                            </li>
                                        </ul>
                                    </div>
                                </ul>
                            </header>

                            <header  class="post-header">
                                <hr>
                                <ul>
                                    <h4 class="post-title">
                                        Bachelor of Engineering, MSRIT<br>
                                        <p class="dates">
                                            Department of Information Science and Engineering <br>
                                            Supervisor: <a href="https://www.linkedin.com/in/dr-mydhili-nair-39416612/"> Dr. Mydhili Nair </a> <br>
                                            CGPA 8.7 / 10 <br>
                                            2009 - 2013 <br>
                                    </h4>
                                </ul>
                                <ul>
                                    <div class="post-description">
                                        <h5> Projects and Publications:</h5>
                                        <p style="font-weight: 600">
                                            <a href="http://www.ijcaonline.org/archives/volume57/number18/9218-3773"> Smart Farming: A Step Towards Techno-Savvy Agriculture </a>
                                        </p>
                                        <ul>
                                            <li>
                                                Helped farmers track their produce, price information through an on-line portal and implemented a single hidden layer neural network
                                                to decide the right time to sell the crops.
                                            </li>
                                        </ul>
                                        <p style="font-weight: 600">
                                            Detail analysis report of ‘C’ compiler errors
                                        </p>
                                        <ul>
                                            <li>
                                                The errors reported by some of the ‘C’ compilers are not verbose. This tool reads those errors and provides a detail explanation of each error.
                                                So that user can easily make the correction.
                                            </li>
                                        </ul>
                                    </div>
                                </ul>
                            </header>


                        </section>
                    </div>



                </div>
            </div>



        </div>


    </div>
</div>


<!--<div class="pure-g">-->

<!--<div class="pure-u-1-2">-->
<!--</div>-->

<!--<div class="pure-u-1-2 pure-table-horizontal">-->
<!--<table class="pure-u-1-2 resume-table">-->
<!--<thead>-->
<!--<tr>-->
<!--</tr>-->
<!--</thead>-->
<!--<tbody>-->

<!--<tbody>-->
<!--<tr>-->
<!--<td>Skillset</td>-->
<!--<td>Honda</td>-->
<!--<td>Accord</td>-->
<!--<td>2009</td>-->
<!--</tr>-->

<!--<tr>-->
<!--<td>2</td>-->
<!--<td>Toyota</td>-->
<!--<td>Camry</td>-->
<!--<td>2012</td>-->
<!--</tr>-->

<!--<tr>-->
<!--<td>3</td>-->
<!--<td>Hyundai</td>-->
<!--<td>Elantra</td>-->
<!--<td>2010</td>-->
<!--</tr>-->
<!--</tbody>-->




<!--</table>-->
<!--</div>-->

<!--</div>-->
