<div>
<div ng-Controller="blogController">
    <div class="header clearfix">
        <h1 class="text-muted"> Blog Analysis </h1>
    </div>



</div>

    <div class="container-noOpaque">
        <div class="col-lg-11" style="opacity:1">
            <table class="table" >
                <thead>
                <th  style="width: 10%" ng-click="sortType = 'positive'; sortReverse = !sortReverse">
                    <span ng-show="sortType == 'positive' && !sortReverse " class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'positive' && sortReverse " class="fa fa-caret-up"> </span>

                    Positive</th>

                <th style="width: 10%" ng-click="sortType = 'negative'; sortReverse = !sortReverse">
                    <span ng-show="sortType == 'negative' && !sortReverse " class="fa fa-caret-down"> </span>
                    <span ng-show="sortType == 'negative' && sortReverse " class="fa fa-caret-up"> </span>
                    Negative
                </th>

                <th style="width: 10%" ng-click="sortType = 'neutral'; sortReverse = !sortReverse">
                    <span ng-show="sortType == 'neutral' && !sortReverse " class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'neutral' && sortReverse " class="fa fa-caret-up"> </span>
                    Neutral</th>
                <th style="width: 70%">Blog Post</th>
                </thead>
            <tbody>
                <tr ng-repeat="blogId in blogCon.blogData | orderBy:sortType:sortReverse">
                    <td> {{blogId.positive}} </td>
                    <td> {{blogId.negative}} </td>
                    <td> {{blogId.neutral}} </td>
                    <td> {{blogId.comment}} </td>

                </tr>

            </tbody>


            </table>


        </div>

    </div>
</div>
